<div id='searchBar'>
	<div id='searchBlock'>
		Subject: <select id="selectSubject" data-subject=<%= queryDict['subject'] %>></select>
		Latitude: <input type="text" id="latInput" value=<%= queryDict['lat'] %>>
		Longitude: <input type="text" id="lonInput" value=<%= queryDict['lon'] %>>
		Radius: <input type="text" id="radiusInput" value=<%= queryDict['radius'] %>>
		<input type="button" id="searchButton" value="Search">
	</div>
</div>