<div>
	<ul class="grid cs-style">
		<% for (var j = 0; j < users.length; j++) { %>
			<li>
				<%- include('namecardPartial', {user: users[j], queryDict: queryDict}); %>
			</li>
		<% } %>
	</ul>
</div>