<div>
	<h1 class="subjectTitle"><span><%= insertSpaces(subject) %></span></h1>
	<ul class="grid cs-style">
		<% for (var j = 0; j < users.length; j++) { %>
			<li>
				<%- include('namecardPartial', {user: users[j], subject: subject}); %>
			</li>
		<% } %>
	</ul>
</div>