<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <!--<script src="http://vast-engineering.github.io/jquery-popup-overlay/jquery.popupoverlay.js"></script>-->
    <script src="javascripts/jquery.popupoverlay.js"></script>
    <script src="javascripts/main.js"></script>
    <title><%= subject %></title>
  </head>
  <body>
    <div class="subjectTitle">
      <div class="goBack"><span>Back</span></div>
      <h1><span><%= insertSpaces(subject) %></span></h1>
    </div>
  	<%- include('subjectPartial', {users: users, subject: subject}); %>
  </body>
  <%- include('tutorPopupPartial'); %>
</html>