 <!-- Popup below is skeleton, populated when it is toggled on -->
<!--<div id="tabs" class="tutor_popup">-->
<div class="tutor_popup">
  <div id="popupHeader">
    <div class="tutor_popup_close"></div>
    <!-- <ul>
      <li class="popup-tab-list-item"><a href="#about-tab" class="a-tab-link"><div id="about-tab-link">About</div></a></li>
      <li class="popup-tab-list-item"><a href="#reviews-tab" class="a-tab-link"><div id="reviews-tab-link">Reviews</div></a></li>
    </ul> -->
  </div>
  <div id="about-tab">
    <div id="tutorTitleSection">
      <img id="tutorCirclePic"></img>
      <div id="tutorName"></div>
      <div id="tutorRating"></div>
      <div id="tutorRate"></div>
      <div id="tutorDistanceAway"></div>
    </div>
    <div id="tutorDetailsSection">
      <div id="educationSection" class="personInfoSection">
        <h3>Education</h3>
        <div></div>
      </div>
      <div id="subjectDetailsSection" class="personInfoSection">
        <h3></h3>
        <div></div>
      </div>
      <div id="tutoringPhilosophySection" class="personInfoSection">
        <h3>Tutoring Philosophy</h3>
        <div></div>
      </div>
      <div id="generalQualificationsSection" class="personInfoSection">
        <h3>General Qualifications</h3>
        <div></div>
      </div>
      <div id="specialQualificationsSection" class="personInfoSection">
        <h3>Special Qualifications</h3>
        <div></div>
      </div>
      <div id="favoriteThingsSection" class="personInfoSection">
        <h3>Some of my favorite things to do are</h3>
        <div></div>
      </div>
      <div id="availabilitySection" class="personInfoSection">
        <h3>Availability</h3>
        <div></div>
      </div>
    </div>
  </div>
  <div id="reviews-tab">
    <div id="reviewsContainer"></div>
  </div>
</div>