body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #cccccc;
}

a {
  color: #00B7FF;
}

h1 {
	text-align: center;
	color: #2c3f52;
}

h1:hover {
	cursor: pointer;
}

h1 span:hover {
	-webkit-transition: border-bottom 0.5s; /* For Safari 3.1 to 6.0 */
  transition: border-bottom 0.5s;
}

h1 span:hover {
	border-bottom: 5px solid #ed4e6e;
}

.grid {
	padding: 20px 20px 100px 20px;
	max-width: 750px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 200px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
	border: 10px solid white;
	border-radius: 5px;
	-webkit-transition: border-color 0.5s; /* For Safari 3.1 to 6.0 */
  transition: border-color 0.5s;
}

.grid figure:hover {
	cursor: pointer;
	border-color: #ed4e6e;
}

.grid figure img {
	width: 100%;
	height: 200px;
	display: block;
	position: relative;
}

.online-dot {
	background-image: url('/images/green-circle-md.png');
	background-repeat: no-repeat;
  background-size: contain;
	position: absolute;
	z-index: 1;
	height: 30px;
	width: 30px;
	top: 10px;
	left: 10px;
}

.grid figcaption {
	text-align: center;
	padding: 20px;
	background: #2c3f52;
	color: #ed4e6e;
	caption-side: bottom;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid figcaption span {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}

.grid figcaption span:before, #tutorRate:before {
	content: '$';
}

.grid figcaption span:after, #tutorRate:after {
	content: '/15 min';
}

#tutorCirclePic {
	height: 200px;
}

#tutorPopup {
	background-color: white;
	width: 70%;
}
