body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #cccccc;
}

a {
  color: #00B7FF;
}

h1 {
	display: inline-block;
	text-align: center;
	color: #2c3f52;
	padding: 10px;
}

.subjectTitleLink:hover {
	cursor: pointer;
}

.subjectTitleLink span:hover {
	-webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
  transition: color 0.5s;
  color: #ed4e6e;
}

.subjectTitle {
	display: table;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.viewMore, .goBack {
	display: inline-block;
	display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.viewMore span, .goBack span {
	padding: 8px;
	background-color: #ed4e6e;
	color: white;
	border-radius: 5px;
}

.viewMore span:hover, .goBack span:hover {
	cursor: pointer;
	-webkit-transition: background-color 0.5s; /* For Safari 3.1 to 6.0 */
  transition: background-color 0.5s;
  background-color: #2c3f52;
}

.grid {
	padding: 20px 20px 100px 20px;
	max-width: 750px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 200px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
	border: 10px solid white;
	border-radius: 5px;
	-webkit-transition: border-color 0.5s; /* For Safari 3.1 to 6.0 */
  transition: border-color 0.5s;
}

.grid figure:hover {
	cursor: pointer;
	border-color: #ed4e6e;
}

.grid figure img {
	width: 100%;
	height: 200px;
	display: block;
	position: relative;
}

.online-dot {
	background-image: url('/images/green-circle-md.png');
	background-repeat: no-repeat;
  background-size: contain;
	position: absolute;
	z-index: 1;
	height: 30px;
	width: 30px;
	top: 10px;
	left: 10px;
}

.grid figcaption {
	text-align: center;
	padding: 20px;
	background: #2c3f52;
	color: #ed4e6e;
	caption-side: bottom;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid figcaption span {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}

.grid figcaption span:before, #tutorRate:before {
	content: '$';
}

.grid figcaption span:after, #tutorRate:after {
	content: '/15 min';
}

#tutorCirclePic {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 5px solid #2c3f52;
}

.tutor_popup {
	background-color: white;
	width: 70%;
	height: 90%;
	overflow: auto;
	border-radius: 5px;
	color: #2c3f52;
}

#popupHeader {
	position: fixed;
	height: 50px;
	width: inherit;
	background-color: white;
	border-bottom: 3px solid #2c3f52;
	text-align: center;
}

.tutor_popup_close {
	background-image: url('/images/circle_close_delete.png');
	background-repeat: no-repeat;
  background-size: contain;
	height: 30px;
	width: 30px;
	position: absolute;
	top: 10px;
	left: 10px;
}

.a-tab-link {
	text-decoration: none;
	outline: none;
}

#about-tab-link, #reviews-tab-link {
	color: #2c3f52;
	text-align: center;
}

#about-tab-link {
	margin-right: 10px;
}

#reviews-tab-link {
	margin-left: 10px;
}

.ui-tabs-nav {
	margin-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

.ui-state-default {
	display: inline-block;
}

.popup-active-tab {
	border-bottom: 5px solid #ed4e6e;
}

#tutorTitleSection {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 10px;
}

#tutorDetailsSection {
	padding-left: 10px;
	padding-right: 10px;
}

.personInfoSection {
	border-top: 1px solid #2c3f52;
	padding-bottom: 15px;
}
